black==23.10.1
box-sdk-gen==0.5.0
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.1
click==8.1.7
cryptography==41.0.5
idna==3.4
isort==5.12.0
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.11.2
platformdirs==3.11.0
pycparser==2.21
PyJWT==2.8.0
python-dotenv==1.0.0
requests==2.31.0
requests-toolbelt==1.0.0
urllib3==1.26.18
